@charset "UTF-8";
#main-visual {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
#main-visual video {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
#main-visual .main-slide {
  width: 100%;
  position: relative;
}
#main-visual .main-slide ul li {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#main-visual .main-slide ul li h2 {
  margin-top: 200px;
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  line-height: 1.25;
}
#main-visual .main-slide .circle {
  width: 100px;
  height: 100px;
  background-color: #40060b;
  border-radius: 100px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-visual .main-slide .circle span {
  font-size: 11px;
  margin-top: 80px;
  text-transform: uppercase;
  display: block;
  color: #fff;
  transform: rotate(90deg);
  animation: upAndDown 0.6s infinite linear alternate;
}
#main-visual .pagination {
  position: absolute;
  left: 80%;
  bottom: -100px;
}
#main-visual .pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
}
#main-visual .pagination .swiper-pagination-bullet-active {
  border: 3px solid #fff;
  background-color: transparent;
}

@keyframes upAndDown {
  0% {
    margin-top: 100px;
  }
  100% {
    margin-top: 70px;
  }
}
#business {
  padding: 100px 0 200px;
}
#business .txt-box {
  padding: 50px 0;
  display: flex;
  align-items: center;
}
#business .txt-box h3 {
  font-size: 90px;
  font-weight: 900;
  margin-right: 50px;
}
#business .txt-box p {
  margin-bottom: -10px;
  color: #555;
  line-height: 1.5;
  font-weight: 500;
}
#business .business-slide ul {
  padding-top: 100px;
}
#business .business-slide ul li {
  width: 230px;
  height: 480px;
  margin-right: 20px;
  position: relative;
}
#business .business-slide ul li .img-box {
  position: relative;
}
#business .business-slide ul li .img-box img {
  width: 100%;
  height: 480px;
  object-fit: cover;
  filter: brightness(0.5);
}
#business .business-slide ul li .img-box .text {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
#business .business-slide ul li .info-box {
  position: absolute;
  z-index: -1;
  margin-top: -100px;
}
#business .business-slide ul .swiper-slide-active {
  width: 1000px;
}
#business .business-slide ul .swiper-slide-active .img-box {
  margin-top: -50px;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
#business .business-slide ul .swiper-slide-active .img-box .text {
  display: none;
}
#business .business-slide ul .swiper-slide-active .img-box img {
  width: 800px;
  filter: none;
}
#business .business-slide ul .swiper-slide-active .info-box {
  width: 100%;
  transition: all 0.5s ease;
  margin-top: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#business .business-slide ul .swiper-slide-active .info-box .info {
  width: 800px;
  display: flex;
  align-items: center;
}
#business .business-slide ul .swiper-slide-active .info-box .info h4 {
  font-size: 50px;
  font-weight: 700;
  margin-right: 50px;
}
#business .business-slide ul .swiper-slide-active .info-box .info p {
  font-size: 24px;
  color: #40060b;
  font-weight: 400;
}
#business .business-slide ul .swiper-slide-active .info-box .info p span {
  font-weight: 900;
}
#business .business-slide .btns {
  position: relative;
}
#business .business-slide .btns .btn {
  position: absolute;
  z-index: 2;
  left: 800px;
  bottom: 20px;
  color: #fff;
  width: 80px;
  height: 80px;
  background-color: #dd2625;
  transform: skewX(-20deg);
}
#business .business-slide .btns .btn i {
  font-size: 20px;
}
#business .business-slide .btns .btn-prev {
  background-color: #40060b;
  left: 730px;
  bottom: 0px;
}
#business .business-slide .btns .btn-next {
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
}

#about {
  padding: 200px 0;
  background-image: url("../images/main/main_about_bg01.png");
  background-position: 0 100%;
  background-repeat: no-repeat;
}
#about .container {
  display: flex;
  position: relative;
}
#about .container .text-box {
  width: 60%;
}
#about .container .text-box h3 {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 50px;
}
#about .container .text-box h4 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
}
#about .container .texture {
  position: absolute;
  width: 100%;
  font-size: 180px;
  font-weight: 900;
  left: -100px;
  bottom: 50px;
  letter-spacing: 0.03em;
  color: transparent;
  opacity: 0.5;
  background-image: url("../images/main/pattern.png");
  -webkit-background-clip: text;
}
#about .container .img-box {
  width: 40%;
  position: relative;
}
#about .container .img-box .about-img {
  display: flex;
}
#about .container .img-box .about-img:before {
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  color: #fff;
}
#about .container .img-box .img01 {
  position: relative;
}
#about .container .img-box .img01:before {
  content: "신뢰";
  position: absolute;
  left: 250px;
  top: 50px;
}
#about .container .img-box .img02 {
  margin-left: -100px;
  position: relative;
}
#about .container .img-box .img02:before {
  content: "소통";
  position: absolute;
  bottom: 50px;
  left: 50px;
}
#about .container .img-box .img03 {
  position: absolute;
  top: 30%;
  right: 0;
}
#about .container .img-box .img03:before {
  content: "열정과 도전";
  position: absolute;
  bottom: 50px;
  right: 100px;
}

#information {
  padding: 100px 0;
  display: flex;
}
#information .information-box {
  width: 50%;
  height: 332px;
  box-sizing: border-box;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
#information .information-box h3 {
  font-size: 36px;
  font-weight: 700;
}
#information .information-box ul {
  font-size: 19px;
  line-height: 2.5;
}
#information .information-box ul i {
  font-size: 15px;
  margin-left: 50px;
}
#information .recruit {
  background-image: url("../images/main/main_banner_bg01.jpg");
}
#information .recruit li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#information .ad {
  background-image: url("../images/main/main_banner_bg02.jpg");
}
#information .ad ul {
  font-size: 18px;
  line-height: 3;
}
#information .ad ul li > a {
  display: flex;
  align-items: center;
}
#information .ad i {
  width: 40px;
  height: 40px;
  background-color: #40060b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-right: 10px;
}
#information .ad i.color02 {
  background-color: #dd2625;
}

#news {
  padding: 100px 0;
  position: relative;
}
#news .news-txt {
  display: flex;
  padding: 50px 0 100px;
  align-items: flex-end;
}
#news .news-txt h3 {
  font-size: 90px;
  font-weight: 900;
  margin-right: 50px;
}
#news .news-txt p {
  color: #555;
  line-height: 1.5;
  font-weight: 500;
  padding-bottom: 5px;
}
#news .news-color-box {
  position: absolute;
  background-color: #40060b;
  width: 670px;
  height: 560px;
  bottom: 50px;
  margin-left: -85px;
}
#news .news-slide ul li {
  width: 350px;
  height: 450px;
  margin-right: 20px;
  background-color: #40060b;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -2;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
#news .news-slide ul li:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 350px;
  height: 450px;
  background-color: #fff;
}
#news .news-slide ul li:hover:before {
  transform: scale(0.95);
  transition: all 0.25s ease;
}
#news .news-slide ul li a {
  width: 285px;
}
#news .news-slide ul li .img-box {
  margin-bottom: 20px;
  width: auto;
  height: 225px;
}
#news .news-slide ul li .img-box img {
  width: 100%;
  height: 225px;
  object-fit: cover;
}
#news .news-slide ul li .img-box h3 {
  font-size: 19px;
  margin-bottom: 30px;
  line-height: 1.5;
  font-weight: 500;
}
#news .news-slide ul li .img-box p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 4.5em;
  line-height: 1.5;
}
#news .news-slide ul li .txt-box {
  font-size: 19px;
  width: auto;
  line-height: 1.5;
  word-break: keep-all;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 3em;
  line-height: 1.5;
}
#news .news-slide ul li .date {
  line-height: 1.25;
  font-size: 16px;
  margin-bottom: 20px;
}
#news .news-slide ul li .date span {
  display: inline-block;
  font-size: 30px;
  font-weight: 900;
  color: #40060b;
}
#news .news-slide ul .swiper-slide-active:before {
  width: 285px;
  background-color: transparent;
}